.card {
	height: 400px;
	background-color: aqua;
	margin: 1rem;
}

.container {
	position: relative;
	width: 80%;
	margin: auto;
}

.sticky-section-left {
	position: sticky;
	top: 2rem;
	float: left;
	width: 30%;
}

.scrolling-section-right {
	/* position: sticky; */
	width: 60%;
	float: right;
}

.sticky-section-right {
	position: sticky;
	top: 2rem;
	float: right;
	width: 30%;
}

.scrolling-section-left {
	/* position: sticky; */
	width: 60%;
	float: left;
}

.w-clearfix:after {
	clear: both;
}
.w-clearfix:before,
.w-clearfix:after {
	content: " ";
	display: table;
	/*
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2; */
}
